[submodule "tools/files-rw"]
	path = tools/files-rw
	url = git@github.com:colinrgodsey/files-rw.git
[submodule "tools/wackyproc"]
	path = tools/wackyproc
	url = git@github.com:colinrgodsey/wackyproc.git
[submodule "tools/wackydiscord"]
	path = tools/wackydiscord
	url = git@github.com:colinrgodsey/wackydiscord.git
